header{
  padding: 60px;
  text-align: center;
  background: #4ca3eb;
  color: white;
  font-size: 30px;
}

.text-boxes {
  display: flex;
  gap: 20px;
  margin: 20px;
  text-align: center;
}

.box {
  flex: 1;
  background: #c5e5ff;
  padding: 10px;
  border-radius: 5px;
}

.box h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
  font-size: 30px;
  text-align: center;
}
